<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>IMB</author>
	<description>
		${project.parent.description}
	</description>
	<require_version>${openMRSVersion}</require_version>
	
	<require_modules>
		<require_module version="${legacyuiVersion}">org.openmrs.module.legacyui</require_module>
    </require_modules>

	<activator>org.openmrs.module.imbemr.ImbEmrActivator</activator>

	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.imbemr.web.AdminPageExtension</class>
	</extension>

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>

</module>

