<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>IMB</author>
	<description>
		${project.parent.description}
	</description>
	<require_version>${openMRSVersion}</require_version>
	
	<require_modules>
		<require_module version="${rwandaemrVersion}">org.openmrs.module.rwandaemr</require_module>
    </require_modules>

	<activator>org.openmrs.module.imbemr.ImbEmrActivator</activator>

</module>

